.container#contact {
  margin: 0;
}

.contact-list {
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.contact-list div {
  background-image: url('../../public/img/Contact.png');
  background-size:60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 20%;
  background-position:30% center;
}

.contact-list div > h3 {
  margin-left: 0;
}

.line {
  background: linear-gradient(to bottom, #fff, #fff,#00bfff 80%);
}

.twitter-tweet {
  margin:0 auto;
}

@media screen and (max-width:768px) {
  .contact-list {
    flex-direction: column;
  }

  .contact-list div {
    width: 100%;
    background-size: 100%;
  }
}
