.profile {
  position: relative;
  max-width: 960px;
  padding:56px 0 56px;
  background-image: url('../../public/img/About.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  z-index: 1;
}

.profile::before {
  content: '';
  display: inline-block;
  width: 30%;
  height: 100%;
  background: linear-gradient(45deg,#0000cd, #00bfff,#87cefa);
  position: absolute;
  inset: 0 auto auto 0;
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.profile.container > div {
  width: 80%;
  padding-left: 20px;
}

.profile-body > p {
  margin: 0;
}

.profile-body > p > a {
  font-size: 18px;
}

.profile-body > p > a:hover {
  color: #333;
}

@media screen and (max-width: 768px) {
  .profile {
    background-size: 80%;
  }
}