.profile {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.profile::before {
  content: '';
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: #00bfff;
  position: absolute;
  inset: 0 auto auto 0;
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.profile .container {
  width: 80%;
}

.self-title {
  padding: 0;
  border: none;
}

.profile-body {
  background-color: rgba(251, 251, 253, 40%);
}

.profile-body > p {
  margin: 0;
}