.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0;
  background-image: url('../../public/img/Skils.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-attachment: fixed;
}

.skill-item {
  display: flex;
  width: 48%;
  gap: 36px;
}

.skill-img {
  width: 20%;
}

.skill-img img {
  width: 100%;
  object-fit: cover;
}

.skill-body {
  width: 70%;
}

@media screen and (max-width:768px) {
  .skill-list {
    background-size: 100%;
  }

  .skill-item {
    width: 100%;
  }
}