.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  width: 50%;
  gap: 36px;
}

.skill-img {
  width: 20%;
}

.skill-img img {
  width: 100%;
  object-fit: cover;
}

.skill-body {
  width: 70%;
}