.tab-contents {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  text-align: center;
}

.works-item {
  width: 30%;
  border: 1px solid #00bfff;
  margin: 8px auto 0;
  border-radius: 8px;
  box-shadow: 4px 4px 8px #aaa;
  transition: transform .4s ease;
}

.works-item:hover {
  transform: scale(1.2,1.2);
}

.works-item-row-end {
  margin: 0 0;
}

.works-img {
  width: 100%;
  border-radius: 8px;
}

.works-img img {
  width: 100%;
  border-radius: 8px;
}

.works-name {
  margin: 16px auto 0;
}

.works-info {
  margin: 16px auto 0;
}

@media screen and (max-width:768px) {
  .tab-contents {
    gap: 12px;
  }

  .works-item {
    width: 40%;
  }

  .works-item-row-end {
    margin: 8px auto 0;
  }
}