header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  inset: 0 50% auto auto;
  translate:50% 0;
}

header h3 {
  font-size: 24px;
}

header nav {
  font-size: 24px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.img {
  width: 100%;
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;
  background-color: #aaa;
}

.tab-menu {
  display: flex;
}

.tab-menu li {
  outline: 1pz solid #333;
}

.active {
  background-color: #aaa;
}