body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../public/img/mainvisual.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Kiwi Maru","Zen Kaku Gothic New", sans-serif, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}